.button {
  position: fixed;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%) scale(1);
  height: 80px;
  width: 80px;
  border-radius: 80px;
  background-color: #5CA8E0;
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  animation: 4s ease;
}

.button:active {
  transform: translateX(-50%) scale(.95);
}