@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;1,200;1,600&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(#FEFEFE 60%, #EDF0F3);
  background-attachment: fixed;
  font-family: 'Raleway', sans-serif;
  color: #363C44;
}